.hero {
  background-blend-mode: color, normal;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
  text-align: center;
  width: 100%;
}
