@use "styles/libraries/bootstrap/variables";

.headerTitle {
  text-align: left;
  font-size: 1rem;
  padding-top: 40px;

  @media (min-width: #{map-get(variables.$grid-breakpoints, lg)}) {
    font-size: 1.5rem;
  }
}
